* {
    background-color: rgb(165, 247, 165);
    text-align: center;
}
h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-style: inherit;
}
input {
    background-color: rgb(158, 100, 250);    
}
button {
    background-color: rgb(158, 100, 250);
    
}
footer {
    margin-bottom: 10px;
    font-weight: bold;
}